.services-detail 
    .container 
        .tag-line
            h2.main-title trang trí - tổ chức sự kiện
            p We create a unique space and mood through their creativity. </br> Our scenery and atmosphere created inspire people to the beautiful, </br> reveal in them feelings of love and light . </br>And this brings us happiness - to work in the name of creation.
    .services-detail-inner 
        .container
            h2.main-title Các dự án đã thực hiện 
            .list-items
                -for(i=1;i<7;i++)
                    .item 
                        a.box-img(href="") 
                            img(src="./img/blog-1.png", alt="")
                        .title
                            a(href="") du an
            .view-all-btn 
                a.main-btn Xem tất cả
            