.gallery-detail 
    .container 
        .head(setBackground="./img/blog-1.png")
            .subtitle BITEXCO CHRISTMAS
            .title Once Upon A Time
            p.briefcontent Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, perspiciatis! Dicta commodi est ipsa quam, rerum dolorem, optio hic officiis exercitationem at tempora autem cum assumenda architecto incidunt, ab voluptatem!
        .fullcontent 
            .list-image 
                a.box-img(href="")
                    img(src="./img/blog-1.png", alt="")
                a.box-img(href="")
                    img(src="./img/blog-1.png", alt="")
                a.box-img(href="")
                    img(src="./img/blog-1.png", alt="")
                a.box-img(href="")
                    img(src="./img/blog-1.png", alt="")
                a.box-img(href="")
                    img(src="./img/blog-1.png", alt="")
                a.box-img(href="")
                    img(src="./img/blog-1.png", alt="")
                a.box-img(href="")
                    img(src="./img/blog-1.png", alt="")
                a.box-img(href="")
                    img(src="./img/blog-1.png", alt="")
                a.box-img(href="")
                    img(src="./img/blog-1.png", alt="")
                