section.footer-top 
    .container
        .footer-top__nav 
            ul.footer-top__nav-list 
                li.footer-top__nav-item 
                    a(href="") trang tri 
                li.footer-top__nav-item 
                    a(href="") trang tri 
                li.footer-top__nav-item 
                    a(href="") trang tri 
                li.footer-top__nav-item 
                    a(href="") trang tri 
                li.footer-top__nav-item 
                    a(href="") trang tri 
                li.footer-top__nav-item 
                    a(href="") trang tri 
section.footer
    .container 
        .iframe-wrap 
            .iframe
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fblissweddingplannervietnam%2F&tabs=timeline&width=500&height=140&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=3341859352555633" width="100%" height="140" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            .iframe
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fblissweddingplannervietnam%2F&tabs=timeline&width=500&height=140&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=3341859352555633" width="100%" height="140" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        .wrapper 
            .info
                h4 địa chỉ văn phòng 
                p Tầng 4, Centec Tower 72 - 74 Nguyễn Thị Minh Khai,  phường 6, Quận 3, TP. Hồ Chí Minh, Việt Nam.
            .contact 
                h4 Thông tin liên hệ 
                .item
                    .title Email
                    .content info@blissvn.com
                .item
                    .title Hotline
                    a.content(href="") +84901 332 552
                .item
                    .title Văn phòng
                    .content 
                        a(href="") +84 28 666 07 555
                        a(href="") +84 28 629 99 198
            .copyright 
                .img 
                    img(src="./img/bliss.png", alt="")
                p © Copyright Bliss Weddings And Events Vietnam 2020. All Rights Reserved.
                ul 
                    li 
                        a(href="") Điều khoản sử dụng 
                    li 
                        a(href="") Chính sách bảo mật
    #gotop 
        em.lnr.lnr-chevron-up



            
