header.header
    .container
        .header__top 
            .toggle-button 
                .button
            ul.menu-top
                li
                    a(href="") Gallery
                li
                    a(href="") Video
            .logo 
                a(href="")
                    img(src="./img/logo.png", alt="")
            .language
                span.label Ngôn ngữ    
                em.mdi.mdi-menu-down
                ul.language-list 
                    li
                        a(href="") Vn
                    li
                        a(href="") En
    .header__bottom 
        .container
            nav.menu
                ul.menu__list 
                    li.menu__item 
                        a.menu__link(href="") Giới thiệu 
                    li.menu__item.has-dropdown  
                        a.menu__link#modal(href="javascript:void(0)") Dịch vụ 
                        //- ul.nav-sub
                        //-     li 
                        //-         a trang tri 
                        //-     li 
                        //-         a trang tri 
                        //-     li 
                        //-         a trang tri 
                        //-     li 
                        //-         a trang tri 
                        //-     li 
                        //-         a trang tri 
                            
                    li.menu__item 
                        a.menu__link(href="") Báo giá
                    li.menu__item 
                        a.menu__link(href="") Đối tác 
                    li.menu__item 
                        a.menu__link(href="") Blog
                    li.menu__item 
                        a.menu__link(href="") Liên hệ
    .mobile-inner-nav 
        
            
