section.home-customer 
    .container 
        h2.main-title Đối tác 
        .list-item 
            -for(i=0;i<15;i++)
                .item 
                    a.box-img 
                        img(src="./img/brand.png", alt="")
