.customer
    .container 
        .tag-line
            h2.main-title đối tác
            p We create a unique space and mood through their creativity. </br> Our scenery and atmosphere created inspire people to the beautiful, </br> reveal in them feelings of love and light . </br> And this brings us happiness - to work in the name of creation.
        .customer__list
            -for(i=1;i<16;i++) 
                .customer__item 
                    a.box-img(href="") 
                        img(src="./img/brand.png", alt="")