.about
    .container 
        .tag-line
            h2.main-title Giới thiệu
            p We create a unique space and mood through their creativity. </br> Our scenery and atmosphere created inspire people to the beautiful, </br> reveal in them feelings of love and light . </br> And this brings us happiness - to work in the name of creation.
    .about-wrapper
        .container
            .list-items
                -for(i=1;i<5;i++)
                    .item 
                        a.box-img(href="") 
                            img(src="./img/blog-1.png", alt="")
            .fullcontent 
                p Đề cao cái đẹp, chinh phục sự sáng tạo chính là yếu tố khiến Bliss không ngừng thực hiện những ý tưởng bay bổng và xây dựng trải nghiệm bền vững cho khách hàng. Tại bất kì thời điểm nào trong năm dù là trang trí sự kiện, trang trí Noel, trang trí Tết, trang trí Giáng Sinh, hoặc trang trí tiệc cưới, chỉ cần có Bliss, không gì có thể ngăn bạn chạm tay vào sự duy mỹ của mình. 

                p Với những sự kiện đặc biệt, dưới bàn tay của Bliss khách hàng sẽ được trải nghiệm một không gian rất riêng và nổi bật, đánh mạnh đến tầm nhìn và hình ảnh của nhãn hàng và công ty. 
                p CREATE UNIQUE MOMENT WITH BLISS
            .what-do-we-do 
                h2.main-title chúng tôi làm gì?
                .list-item 
                    .item 
                        .icon 
                            img(src="./img/icon-1.png", alt="")
                        .caption 
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui omnis
                    .item 
                        .icon 
                            img(src="./img/icon-1.png", alt="")
                        .caption 
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui omnis
                    .item 
                        .icon 
                            img(src="./img/icon-1.png", alt="")
                        .caption 
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui omnis
                    .item 
                        .icon 
                            img(src="./img/icon-1.png", alt="")
                        .caption 
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui omnis
                    
