section.quote 
    .container 
        h2.main-title Báo giá
    .wrapper.main-section
        .container 
            .form-inner
                .wrap-form
                    .form-group
                        label(for="") Họ tên
                            span *
                        input(type="text", name="")
                    .form-group
                        label(for="") Họ tên
                            span *
                        input(type="text", name="")
                    .form-group
                        label(for="") Họ tên
                            span *
                        input(type="text", name="")
                    .form-group
                        label(for="") Họ tên
                            span *
                        select#select(name="")
                            option(value="")
                    .submit
                        input(type="submit", value="Gửi yêu cầu")
.modal-quote
    .modal-overlay
    .modal-inner 
        .close-btn 
            em.mdi.mdi-close
        .modal-head
            h3 Báo Giá
        .modal-body 