section.quote 
    .container 
        h2.main-title Báo giá
    .wrapper.main-section
        .container 
            .form-inner
                .wrap-form
                    .form-group
                        label(for="") Họ tên
                            span *
                        input(type="text", name="")
                    .form-group
                        label(for="") Họ tên
                            span *
                        input(type="text", name="")
                    .form-group
                        label(for="") Họ tên
                            span *
                        input(type="text", name="")
                    .form-group
                        label(for="") Họ tên
                            span *
                        select#select(name="")
                            option(value="")
                    .submit
                        input(type="submit", value="Gửi yêu cầu")