extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/_global/breadcrumb
	include ../components/blog/index
	include ../components/home/h-3/index





	





