extends _layout.pug

block var
	- var title = 'customer'
	- var bodyClass = 'customer-page'

block main
	include ../components/_global/banner-child
	include ../components/_global/breadcrumb
	include ../components/customer/index
	include ../components/home/h-3/index





	





