extends _layout.pug

block var
	- var title = 'blog detail'
	- var bodyClass = 'home-page'

block main
	include ../components/_global/breadcrumb
	include ../components/gallery-detail/index
	include ../components/home/h-3/index





	





