extends _layout.pug

block var
	- var title = 'services'
	- var bodyClass = 'services-page'

block main
	include ../components/_global/breadcrumb
	include ../components/services/index
	include ../components/home/h-3/index





	





