extends _layout.pug

block var
	- var title = 'video'
	- var bodyClass = 'home-page'

block main
	include ../components/_global/breadcrumb
	include ../components/video/index
	include ../components/home/h-3/index





	





