section.home-banner 
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                a.box-img(href="")
                    img(src="./img/home-banner.png", alt="")
            .swiper-slide
                a.box-img(href="")
                    img(src="./img/home-banner.png", alt="")
        .swiper-nav.container
            .button-prev
                em.lnr.lnr-chevron-left
            .button-next
                em.lnr.lnr-chevron-right