section.home-banner 
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                a.box-img(href="")
                    img(src="./img/home-banner.png", alt="")
                    .swiper-nav.container
                        .button-prev
                            em.lnr.lnr-chevron-left
                        .button-next
                            em.lnr.lnr-chevron-right
                .banner-text-wrap
                    .container 
                        p We create a unique space and mood through their creativity. Our scenery and </br> atmosphere created inspire people to the beautiful, reveal in them feelings of </br> love and light . And this brings us happiness - to work in the name of creation. </br> We create a unique space and mood through their creativity.
                        .view-all-btn 
                            a.main-btn Xem tất cả
            .swiper-slide
                a.box-img(href="")
                    img(src="./img/home-banner.png", alt="")