.gallery
    .container 
        .tag-line
            h2.main-title trang trí - tổ chức sự kiện
            p We create a unique space and mood through their creativity. </br> Our scenery and atmosphere created inspire people to the beautiful, </br> reveal in them feelings of love and light . </br>And this brings us happiness - to work in the name of creation.
    .gallery__nav 
        .container 
            <!-- button visible on small devices -->
            a(href="javascript:void(0)" class="gallery__nav-trigger")
                .icon
            ul.gallery__nav-list
                li.gallery__nav-item
                    a.gallery__nav-link(href="#section-1") demo 
                li.gallery__nav-item
                    a.gallery__nav-link(href="#section-2") demo 
                li.gallery__nav-item
                    a.gallery__nav-link(href="#section-3") demo 
                li.gallery__nav-item
                    a.gallery__nav-link(href="#section-4") demo 
                li.gallery__nav-item
                    a.gallery__nav-link(href="#section-5") demo 
    #section-1.section.gallery__content.gallery__content-1
        .box-content 
            .container
                .box-content__content 
                    .img
                        img(src="./img/blog-1.png", alt="")
                    .title 
                        span trang trí 
                        a(href="") trang trí 
            .box-content__inner-slider
                .container 
                    .slider
                        .swiper-container 
                            .swiper-wrapper 
                                -for(i=1;i<6;i++)
                                    .swiper-slide 
                                        a.box-img(href="")
                                            img(src="./img/h-sv-1.png", alt="")
                        .swiper-nav
                            .button-prev
                                em.lnr.lnr-chevron-left
                            .button-next
                                em.lnr.lnr-chevron-right
    #section-2.section.gallery__content.gallery__content-2
    
        .box-content 
            .container
                .box-content__content 
                    .img
                        img(src="./img/blog-1.png", alt="")
                    .title 
                        span trang trí 
                        a(href="") trang trí 
            .box-content__inner-slider
                .container 
                    .slider
                        .swiper-container 
                            .swiper-wrapper 
                                -for(i=1;i<6;i++)
                                    .swiper-slide 
                                        a.box-img(href="")
                                            img(src="./img/h-sv-1.png", alt="")
                        .swiper-nav
                            .button-prev
                                em.lnr.lnr-chevron-left
                            .button-next
                                em.lnr.lnr-chevron-right
    #section-2.section.gallery__content.gallery__content-3
        .box-content 
            .container
                .box-content__content 
                    .img
                        img(src="./img/blog-1.png", alt="")
                    .title 
                        span trang trí 
                        a(href="") trang trí 
            .box-content__inner-slider
                .container 
                    .slider
                        .swiper-container 
                            .swiper-wrapper 
                                -for(i=1;i<6;i++)
                                    .swiper-slide 
                                        a.box-img(href="")
                                            img(src="./img/h-sv-1.png", alt="")
                        .swiper-nav
                            .button-prev
                                em.lnr.lnr-chevron-left
                            .button-next
                                em.lnr.lnr-chevron-right
    #section-3.section.gallery__content.gallery__content-4
        .box-content 
            .container
                .box-content__content 
                    .img
                        img(src="./img/blog-1.png", alt="")
                    .title 
                        span trang trí 
                        a(href="") trang trí 
            .box-content__inner-slider
                .container 
                    .slider
                        .swiper-container 
                            .swiper-wrapper 
                                -for(i=1;i<6;i++)
                                    .swiper-slide 
                                        a.box-img(href="")
                                            img(src="./img/h-sv-1.png", alt="")
                        .swiper-nav
                            .button-prev
                                em.lnr.lnr-chevron-left
                            .button-next
                                em.lnr.lnr-chevron-right
    #section-4.section.gallery__content.gallery__content-5
        .box-content 
            .container
                .box-content__content 
                    .img
                        img(src="./img/blog-1.png", alt="")
                    .title 
                        span trang trí 
                        a(href="") trang trí 
            .box-content__inner-slider
                .container 
                    .slider
                        .swiper-container 
                            .swiper-wrapper 
                                -for(i=1;i<6;i++)
                                    .swiper-slide 
                                        a.box-img(href="")
                                            img(src="./img/h-sv-1.png", alt="")
                        .swiper-nav
                            .button-prev
                                em.lnr.lnr-chevron-left
                            .button-next
                                em.lnr.lnr-chevron-right
    #section-5.section.gallery__content.gallery__content-6
        .box-content 
            .container
                .box-content__content 
                    .img
                        img(src="./img/blog-1.png", alt="")
                    .title 
                        span trang trí 
                        a(href="") trang trí 
            .box-content__inner-slider
                .container 
                    .slider
                        .swiper-container 
                            .swiper-wrapper 
                                -for(i=1;i<6;i++)
                                    .swiper-slide 
                                        a.box-img(href="")
                                            img(src="./img/h-sv-1.png", alt="")
                        .swiper-nav
                            .button-prev
                                em.lnr.lnr-chevron-left
                            .button-next
                                em.lnr.lnr-chevron-right
    