section.home-services
    .container 
        h2.main-title Dịch vụ
        .home-services__list
            -for(i=0;i<6;i++)
                .home-services__item 
                    a.box-img(href="")
                        img(src="./img/h-sv-1.png", alt="")
                        h3.title Trang trí tổ chức sự kiện