.blog__nav 
    .container 
        ul.blog__nav-list
            li.blog__nav-item
                a.blog__nav-link demo 
            li.blog__nav-item
                a.blog__nav-link demo 
            li.blog__nav-item
                a.blog__nav-link demo 
            li.blog__nav-item
                a.blog__nav-link demo 
            li.blog__nav-item
                a.blog__nav-link demo 
.blog
    .container
        .blog__list 
            -for(i=0;i<4;i++)
                .blog__item 
                    a(href="").box-img 
                        img(src="./img/blog-1.png", alt="")
                    .caption 
                        a.title(href="") Once upon a time 
                        p.brief-content We create a unique space and mood through their creativity.We create a unique space and mood through their creativity.
                        date 01/11/2019
