<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu top" value="1" resourcefile="" />
      <add name="Main Menu" value="2" resourcefile="" />
      <add name="Footer Menu" value="4" resourcefile="" />
      <add name="blog nav" value="8" resourcefile="" />
      <add name="customer" value="16" resourcefile="" />
      <add name="about" value="32" resourcefile="" />
      <add name="services" value="64" resourcefile="" />


      


    </position>

</settings>